
.capitulo_1 {
    height: 130px;
    left: 13.7em;
    top: 30.7em;
    position: absolute;
}

.capitulo_2 {
    height: 110px;
    left: 22.9em;
    top: 27.6em;
    position: absolute;
}

.capitulo_3 {
    height: 140px;
    left: 33em;
    top: 25em;
    position: absolute;
}

.capitulo_4 {
    height: 130px;
    left: 16.7em;
    top: 20.2em;
    position: absolute;
}

.capitulo_5 {
    height: 90px;
    left: 13.6em;
    top: 15em;
    position: absolute;
}

.capitulo_6 {
    height: 90px;
    left: 20.5em;
    top: 9em;
    position: absolute;
}

.capitulo_7 {
    height: 130px;
    left: 25.6em;
    top: 14.6em;
    position: absolute;
}

.capitulo_8 {
    height: 130px;
    left: 35.3em;
    top: 9.1em;
    position: absolute;
}

.capitulo_9 {
    height: 120px;
    left: 26.7em;
    top: 6.2em;
    position: absolute;
}

.capitulo_10 {
    height: 130px;
    left: 8em;
    top: 8.2em;
    position: absolute;
}

.capitulo_11 {
    height: 130px;
    left: 12em;
    top: 0em;
    position: absolute;
}


.tronco {
    height: 150px;
    left: 35.3em;
    top: 29.5em;
    position: absolute;
}