.container{
    height: 100%;
    width: 100%;
    position: absolute;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container-mapa-leitura{
    min-height: 768px;    
    max-width: 1024px;
    height: 45em;
    width: 100%;
    position: absolute;
    text-align: center;
    display: flex;
}



.container-leitura {    
    background-color: #89B021;
    box-shadow: 3px 3px 20px rgb(24, 31, 23), 3px 3px 20px rgb(14, 27, 5);
    opacity: 0.97;
    
    height: 100%;
    width: 90%;
    max-width: 1024px;
    position: absolute;
    text-align: center;
    bottom: 0px;
    right: 0px;
    left: 0px;
    top: 0px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    border-radius: 20px;
    
    margin-left: 210px;
    margin-top: 20px;
    z-index: 10;

}


.container-arvore-titulo{
    height: 100px;
    /* width: 100%; */
    position: relative;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}


.container-titulo{
    margin-top: 15px;
    height: 180px;
    /* width: 100%; */
    position: relative;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}

.container-texto{
    height: 100%;
    /* width: 100%; */
    padding: 15px;

    position: relative;
    text-align: center;

}

.p_texto {
    min-width: 100px;
    margin: 0px;
    margin-top: 5px;
    color: #FFF;
    font-family: Acme;
    font-size: 22px;
    line-height: 1.8em;
    padding-left: 30px;
    padding-right: 30px;
}

.p_titulo {
    min-width: 100px;
    margin: 0px;
    margin-top: 5px;
    color: #FFF;
    font-family: Acme;
    font-size: 26px;
    text-shadow: 1px 1px 3px #628309;
}


.botao-iniciar {
    cursor: pointer;
    margin-bottom: 20px;
    background-color: #A8D139;
    color: #FFF;
    font-size: 22px;
    font-family: Acme;

    padding: 15px;
    border: 0px;
    border-radius: 10px;
    box-shadow: 3px 3px 10px #628309;
    text-shadow: 1px 1px 3px #628309;


    height: 40px;
    /* width: 100%; */
    position: relative;
    text-align: center;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.arvore_botao {
    height: 50px;
    padding-right: 10px;

}


.moeda {
    height: 50px;
}

.escola {
    height: 50px;

}



.capitulo_1_menor {
    height: 100px;
    /* left: 102px; */
    top: 20px;
    /* position: absolute; */
}





.livro-leitura {
    position: absolute;
    right: 10px;
    bottom: 20px;
    height: 100px;
    z-index: 5;
}